# MicroKernel Cache and Logs
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

#node
/node_modules
npm-debug.log

# composer
/vendor/

# Built assets
/web/css/*
/web/js/*
!web/css/.gitkeep
!web/js/.gitkeep

!.gitkeep
