@import 'npm://bootstrap/less/bootstrap';
@import 'variables';
@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'modules';

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  background-color: @background-color;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

section {
  text-align: center;
}

/* .react-simple-parallax-bg is generate by the component */
section .react-simple-parallax-bg {
  background-image: url('/images/home-background.jpg');
  height: 1250px;
}

section .parallax {
  top: 200px;
  margin: auto;
}
