@primary-color: @box-color;
@secondary-color: #00a4e8;

#parallax-home-background {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #1d1f20;

    @h1-border-width: 70%;

    h1 {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: @primary-color;

        &:after {
            content: "";
            background-color: @box-color;
            position: absolute;
            bottom: 0;
            left: calc(50% - (@h1-border-width / 2));
            width: @h1-border-width;
            height: 2px;
        }

        span {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            font-size: 4.5rem;
            color: @primary-color;

            &:last-child {
                color: @secondary-color;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}

@media (min-width: @breakpoint) {
    #parallax-home-background {
        h1 > span {
            font-size: 3.8rem;
        }
    }
}
